html {
  box-sizing: border-box;
  font-family: $fontFamily;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $fontFamily;
  color: $color-slate;
  -webkit-font-smoothing: antialiased;
}

#main {
  min-height: 100%;
  min-width: 100%;
  background-color: $color-blue-dark;
  padding-bottom: 20px;
}
