html {
  box-sizing: border-box;
  font-family: $fontFamily;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: $fontFamily;
  color: $color-slate;
}

#main {
  height: 100%;
  width: 100%;
  background-color: $color-blue-dark;
}
